@model IEnumerable< RecyclableMaterials.Models.ProductModel>


<div class="page-wrapper">
    
    

    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!--Main Slider Start-->
    <section class="main-slider">
        <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
                "effect": "fade",
                "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
                },
                "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
                },
                "autoplay": {
                "delay": 5000
                }}'>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(images/backgrounds/used/main-slider-1-1.jpg);">
                    </div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <h2>Your Clutter is <br> Our Bread <span>&</span> Butter</h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(images/backgrounds/used/main-slider-1-2.jpg);">
                    </div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <h2>Your Clutter is <br> Our Bread <span>&</span> Butter</h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(images/backgrounds/used/main-slider-1-3.jpg);">
                    </div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <h2>Your Clutter is <br> Our Bread <span>&</span> Butter</h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(images/backgrounds/used/main-slider-1-4.jpg);">
                    </div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <h2>Your Clutter is <br> Our Bread <span>&</span> Butter</h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="swiper-slide">
                    <div class="image-layer"
                         style="background-image: url(images/backgrounds/used/main-slider-1-5.jpg);">
                    </div>
                    <!-- /.image-layer -->
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <h2>Your Clutter is <br> Our Bread <span>&</span> Butter</h2>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </section>
    <!--Main Slider End-->

    
    @*// Materials// *@

    <section class="services-one" style="margin-bottom: 90px; margin-top: -90px; background-color: var(--wostin-extra);">
        <div class="container">

            <div class="services-one__bottom">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="100ms" style="visibility: visible; animation-delay: 100ms; animation-name: fadeInUp;">
                        <!--Services One Single-->
                        <div class="services-one__single">
                            <div class="services-one__img-box">
                                <a asp-action="Myproduct" asp-controller="product">My Materials</a>
                                <div class="services-one__img">
                                    <img src="~/images/backgrounds/used/myproduct.jpg" alt="">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-garbage-1"></span>
                                </div>
                            </div>
                            <div class="services-one__content-box">
                                <div class="services-one__content">
                                    <h3 class="services-one__title"><a asp-action="Myproduct" asp-controller="product">My Materials</a></h3>
                                </div>
                                <div class="services-one__hover">
                                    <h3 class="services-one__hover-title">
                                        <a asp-action="Myproduct" asp-controller="product">My Materials</a>
                                    </h3>
                                    <p class="services-one__hover-text">Lorem ipsum dolor sit amet, adipelit do.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <!--Services One Single-->
                        <div class="services-one__single">
                            <div class="services-one__img-box">
                                <a asp-action="Index" asp-controller="product">Materials</a>

                                <div class="services-one__img">
                                    <img src="~/images/backgrounds/used/Galary.jpg" alt="">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-dumpster"></span>
                                </div>
                            </div>
                            <div class="services-one__content-box">
                                <div class="services-one__content">
                                    <h3 class="services-one__title">
                                        <a asp-action="Index" asp-controller="product">Materials</a>
                                    </h3>
                                </div>
                                <div class="services-one__hover">
                                    <h3 class="services-one__hover-title">
                                        <a asp-action="Index" asp-controller="product">Materials</a>
                                    </h3>
                                    <p class="services-one__hover-text">Lorem ipsum dolor sit amet, adipelit do.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp animated" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
                        <!--Services One Single-->
                        <div class="services-one__single">
                            <div class="services-one__img-box">
                                <a asp-action="Create" asp-controller="product">Create Materials</a>
                                <div class="services-one__img">
                                    <img src="~/images/backgrounds/used/CreateMat.jpg" alt="">
                                </div>
                                <div class="services-one__icon">
                                    <span class="icon-triangular-arrows-sign-for-recycle"></span>
                                </div>
                            </div>
                            <div class="services-one__content-box">
                                <div class="services-one__content">
                                    <h3 class="services-one__title">
                                        <a asp-action="Create" asp-controller="product">Create Materials</a>
                                    </h3>
                                </div>
                                <div class="services-one__hover">
                                    <h3 class="services-one__hover-title"> <a asp-action="Create" asp-controller="product"> Create Materials</a></h3>
                                    <p class="services-one__hover-text">Lorem ipsum dolor sit amet, adipelit do.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*// Materials End// *@


 @*    ///////////////////////////////////////////////////////////// *@
    <!--News Three Start-->
    <section class="news-three" style="margin-bottom: -55px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="news-three__left">
                        <div class="news-three__bg-box">
                            <div class="news-three__bg"
                                 @* style="background-image: url(~/images/backgrounds/news-three-bg.jp g);"*@></div>
                        </div>
                        <div class="section-title text-left">
                            <span class="section-title__tagline">What’s Happening</span>
                            <h2 class="section-title__title">Our Latest Materals</h2>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8">
                    <div class="news-three__right">
                        <div class="news-three__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                             "loop" : true,
                             "autoplay" : true,
                             "margin" : 30,
                             "nav" : true,
                             "dots" : false,
                             "smartSpeed" : 500,
                             "autoplayTimeout" : 10000,
                             "navText" : ["<span class=\"icon-right-arrow\"></span>","<span class=\"icon-right-arrow\"></span>"],
                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 1
                                    },
                                    "992": {
                                        "items": 2
                                    },
                                    "1200": {
                                        "items": 2.01
                                    }
                                }
                            }'>

                            @foreach(var item in Model)
                            {
                                     <!--one slide-->
                                    <div class="news-one__single">
                                        <div class="news-one__img">
                                                    <img src="@Url.Content("~/" + item.ImagePath)" alt=""   width="370px" height="253px"> @* 370*253 *@
                                            <div class="news-one__date">
                                                <p>@item.Quantity Pc</p>
                                            </div>
                                            <a href="news-details.html">
                                                <span class="news-one__plus"></span>
                                            </a>
                                        </div>
                                        <div class="news-one__content">
                                            <ul class="list-unstyled news-one__meta">
                                                <li><a href="news-details.html"><i class="far fa-clock"></i> by Admin </a>
                                                </li>
                                                <li><span>/</span></li>
                                                <li><a href="news-details.html"><i class="far fa-comments"></i> 2
                                                        Comments</a>
                                                </li>
                                            </ul>
                                            <h3 class="news-one__title"><a href="news-details.html">@item.Name</a></h3>
                                            <div class="news-one__read-more">
                                                <a asp-action="Details" asp-controller="Product"><i class="fa fa-arrow-right"></i>Read More</a>
                                            </div>
                                        </div>
                                    </div>
                            }

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--News Three End-->
@*    ///////////////////////////////////////////////////////////// *@






    <!--Industries One Start-->
    <section class="industries-one">
        <div class="industries-one-bg"
             style="background-image: url(images/backgrounds/industries-one-bg.jpg);"></div>
        <div class="container">
            <div class="section-title text-center">
                <span class="section-title__tagline">We Cover Industries</span>
                <h2 class="section-title__title">Industries We Served</h2>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <!--Industries One Single-->
                    <div class="industries-one__single">
                        <div class="industries-one__img">
                            <img src="~/images/backgrounds/used/industries-1-1.webp" alt="">
                        </div>
                        <div class="industries-one__content">
                            <div class="industries-one__icon">
                                <span class="icon-shop"></span>
                            </div>
                            <h3 class="industries-one__title">
                                <a asp-action="Restaurants" asp-controler="Home">Hotel & Restaurant</a>
                            </h3>
                            
                            <div class="industries-one__arrow">
                                <a <a asp-action="Restaurants" asp-controler="Home">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <!--Industries One Single-->
                    <div class="industries-one__single">
                        <div class="industries-one__img">
                            <img src="images/backgrounds/used/industries-1-2.webp" alt="">
                        </div>
                        <div class="industries-one__content">
                            <div class="industries-one__icon">
                                <span class="icon-stethoscope"></span>
                            </div>
                            <h3 class="industries-one__title">
                                <a asp-action="Medical" asp-controler="Home">Medical & Hospital</a>
                            </h3>
                            
                            <div class="industries-one__arrow">
                                <a asp-action="Medical" asp-controler="Home">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <!--Industries One Single-->
                    <div class="industries-one__single">
                        <div class="industries-one__img">
                            <img src="images/backgrounds/used/industries-1-3.webp" alt="">
                        </div>
                        <div class="industries-one__content">
                            <div class="industries-one__icon">
                                <span class="icon-grocery"></span>
                            </div>
                            <h3 class="industries-one__title">
                                <a asp-action="Stores" asp-controler="Home">Grocery Stores</a>
                            </h3>
                          
                            <div class="industries-one__arrow">
                                <a asp-action="Stores" asp-controler="Home">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Industries One End-->

    <!--We Dedicated Start-->
    <section class="we-dedicated">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="we-dedicated__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Our Skills & Expertise</span>
                            <h2 class="section-title__title">We are Dedicated to Serve you all Our Time</h2>
                        </div>
                        <p class="we-dedicated__text">
                        </p>
                        <div class="we-dedicated__progress">
                            <div class="we-dedicated__progress-single">
                                <h4 class="we-dedicated__progress-title">Waste Management</h4>
                                <div class="bar">
                                    <div class="bar-inner count-bar" data-percent="90%">
                                        <div class="count-text">90%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="we-dedicated__progress-single">
                                <h4 class="we-dedicated__progress-title">Recycling</h4>
                                <div class="bar marb-0">
                                    <div class="bar-inner count-bar" data-percent="46%">
                                        <div class="count-text">46%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="we-dedicated__right">
                        <div class="we-dedicated__img-box wow slideInRight" data-wow-delay="100ms"
                             data-wow-duration="2500ms">
                            <img src="images/backgrounds/used/coverVideo.jpg" alt="">
                            <div class="we-dedicated__video-link">
                                <a href="https://youtu.be/HQTUWK7CM-Y?si=bJhB9cWGa5MQq4e0" class="video-popup">
                                    <div class="we-dedicated__video-icon">
                                        <span class="fa fa-play"></span>
                                        <i class="ripple"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--We Dedicated End-->

    <!--Testimonial One Start-->
    <section class="testimonial-one">
        <div class="testimonial-one-bg"
             style="background-image: url(images/backgrounds/used/testimonial-one-bg.jpg);"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="testimonial-one__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">Our Customers Feedbacks</span>
                            <h2 class="section-title__title">What Our Customers Are Talking ABout Our Services</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="testimonial-one__right">
                        <!--Testimonial One People-->
                        <div class="testimonial-one__people">
                            <img src="~/images/backgrounds/used/testimonial-one-people1-1.webp" alt="">
                        </div>
                        <div class="testimonial-one__people testimonial-one__people-2">
                            <img src="~/images/backgrounds/used/testimonial-one-people1-2.webp" alt="">
                        </div>
                        <div class="testimonial-one__people testimonial-one__people-3">
                            <img src="~/images/backgrounds/used/testimonial-one-people1-3.webp" alt="">
                        </div>
                        <div class="testimonial-one__people testimonial-one__people-4">
                            <img src="~/images/backgrounds/used/testimonial-one-people1-4.webp" alt="">
                        </div>
                        <div class="testimonial-one__people testimonial-one__people-5">
                            <img src="~/images/backgrounds/used/testimonial-one-people1-5.webp" alt="">
                        </div>
                        <div class="testimonial-one__people testimonial-one__people-6">
                            <img src="~/images/backgrounds/used/testimonial-one-people1-6.webp" alt="">
                        </div>

                        <div class="owl-carousel owl-theme thm-owl__carousel testimonial-one__carousel"
                             data-owl-options='{
                             "loop" : true,
                             "items" : 1,
                             "autoplay" : true,
                             "margin" : 30,
                             "nav" : false,
                             "dots" : false,
                             "smartSpeed" : 500,
                             "autoplayTimeout" : 10000,
                             "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                                "responsive": {
                                    "0": {
                                        "items": 1
                                    },
                                    "768": {
                                        "items": 1
                                    },
                                    "1200": {
                                        "items": 1
                                    }
                                }
                            }'>

                                <!--Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__feedback-box">
                                        <div class="testimonial-one__feedback">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <h3 class="testimonial-one__title">Great job and fair pricing</h3>
                                    </div>
                                    <p class="testimonial-one__text">Proin a lacus arcu. Nullam id dui eu orci maximus.
                                        Cras at auctor lectus, vel pretium tellus. Class aptent sociosqu ad litora
                                        torquent per conubia nostra.</p>
                                    <div class="testimonial-one__client-info-box">
                                        <div class="testimonial-one__client-info">
                                            <div class="testimonial-one__client-img">
                                                <img src="~/images/backgrounds/used/testimonial-one-people1-1.webp" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4 class="testimonial-one__client-name">Jessica Brown</h4>
                                                <p class="testimonial-one__client-title">Customer</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>

                                <!--Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__feedback-box">
                                        <div class="testimonial-one__feedback">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <h3 class="testimonial-one__title">Great job and fair pricing</h3>
                                    </div>
                                    <p class="testimonial-one__text">Proin a lacus arcu. Nullam id dui eu orci maximus.
                                        Cras at auctor lectus, vel pretium tellus. Class aptent sociosqu ad litora
                                        torquent per conubia nostra.</p>
                                    <div class="testimonial-one__client-info-box">
                                        <div class="testimonial-one__client-info">
                                            <div class="testimonial-one__client-img">
                                                <img src="~/images/backgrounds/used/testimonial-one-people1-2.webp" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4 class="testimonial-one__client-name">Kevin Smith</h4>
                                                <p class="testimonial-one__client-title">Customer</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>

                                <!--Testimonial One Single-->
                                <div class="testimonial-one__single">
                                    <div class="testimonial-one__feedback-box">
                                        <div class="testimonial-one__feedback">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </div>
                                        <h3 class="testimonial-one__title">Great job and fair pricing</h3>
                                    </div>
                                    <p class="testimonial-one__text">Proin a lacus arcu. Nullam id dui eu orci maximus.
                                        Cras at auctor lectus, vel pretium tellus. Class aptent sociosqu ad litora
                                        torquent per conubia nostra.</p>
                                    <div class="testimonial-one__client-info-box">
                                        <div class="testimonial-one__client-info">
                                            <div class="testimonial-one__client-img">
                                                <img src="~/images/backgrounds/used/testimonial-one-people1-3.webp" alt="">
                                            </div>
                                            <div class="testimonial-one__client-content">
                                                <h4 class="testimonial-one__client-name">Kevin Coper</h4>
                                                <p class="testimonial-one__client-title">Customer</p>
                                            </div>
                                        </div>
                                        <div class="testimonial-one__quote">
                                            <span class="icon-quote"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Testimonial One End-->
    <!--Counter One Start-->
    <section class="counter-one">
        <div class="counter-one-bg-box">
            <div class="counter-one-bg jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
                 style="background-image: url(images/backgrounds/used/counter-one-bg.webp);"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <!--Counter One Single-->
                    <div class="counter-one__single">
                        <div class="counter-one__top">
                            <div class="counter-one__count">
                                <h2 class="odometer" data-count="260">00</h2><span class="counter-one__plus">+</span>
                            </div>
                            <div class="counter-one__icon">
                                <span class="icon-recycling-symbol"></span>
                            </div>
                        </div>
                        <h3 class="counter-one__title">Industries Served</h3>
                        <p class="counter-one__text">Lorem Ipsum is simply dummy <br> ext of the new design.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--Counter One Single-->
                    <div class="counter-one__single">
                        <div class="counter-one__top">
                            <div class="counter-one__count">
                                <h2 class="odometer" data-count="3600">00</h2>
                            </div>
                            <div class="counter-one__icon">
                                <span class="icon-recycling-symbol"></span>
                            </div>
                        </div>
                        <h3 class="counter-one__title">Wast Picked Up</h3>
                        <p class="counter-one__text">Lorem Ipsum is simply dummy <br> ext of the new design.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--Counter One Single-->
                    <div class="counter-one__single">
                        <div class="counter-one__top">
                            <div class="counter-one__count">
                                <h2 class="odometer" data-count="890">00</h2><span class="counter-one__plus">+</span>
                            </div>
                            <div class="counter-one__icon">
                                <span class="icon-recycling-symbol"></span>
                            </div>
                        </div>
                        <h3 class="counter-one__title">Happy Customers</h3>
                        <p class="counter-one__text">Lorem Ipsum is simply dummy <br> ext of the new design.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Counter One End-->
    <!--Have Waste Start-->
    <section class="have-waste" style="margin-top:-90px;">
        <div class="container">
            <div class="have-waste__inner wow fadeInUp" style="padding-bottom:18px;padding-top:19px" data-wow-delay="100ms">
                <div class="have-waste__left">
                    <h3 class="have-waste__content">Have Waste/Pickup?</h3>
                    <div class="have-waste__icon">
                        <span class="icon-phone-ringing"></span>
                    </div>
                </div>
                <div class="have-waste__right">
                    <h4 class="have-waste__contact-info">
                        <span class="have-waste__contact-text"></span>
                        <a href="tel:0785691984" class="have-waste__contact-number">+962 ( 78 ) 569 -19848</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <!--Have Waste End-->

</div><!-- /.page-wrapper -->
