<!--Page Header Start-->
<section class="industy-page-header">
    <div class="industy-page-header-container clearfix">
        <div class="industy-page-header__left">
                    <div class="industy-page-header__content-box">
                        <ul class="thm-breadcrumb list-unstyled">
                            <li><a asp-action="Index" asp-controller="home">Home</a></li>
                            <li>Industry Details</li>
                        </ul>
                        <h3 class="industy-page-header__title">
                    Solutions for Hotels &
                    Restaurants
                </h3>
                        <p class="industy-page-header__text">//////////////////////////////////////////////////////////////////////
                            ///////////////////////////////////
                        </p>
                    </div>
                     <div class="industy-page-header__shape float-bob-x">
                <img src="~/images/shapes/industy-page-header-shape.png" alt="">
            </div>
                    <div class="industy-page-header__icon">
                        <span class="icon-shop"></span>
                    </div>
                </div>
        
        <div class="industy-page-header__right">
            <div class="industy-page-header__img"  style="background-image: url(/images/backgrounds/used/industy-page-header-img.jpg)" >
               
             </div>
 
        </div>
    
     </div>
</section>
<!--Page Header End-->
<!--Industy Details Start-->
<section class="industy-details">
    <div class="container">
        <div class="industy-details__top">
            <div class="row">
                <div class="col-xl-12">
                    <div class="industy-details__top-inner">
                        <h3 class="industy-details__title">We’re Your Trusted Partner</h3>
                        <p class="industy-details__top-text-1">
                            There are not many of passages of lorem ipsum
                            available alteration in some form. Donec scelerisque dolor id nunc dictum, interdum
                            gravida. There are not many of passages of lorem ipsum available alteration in some
                            form. Donec scelerisque dolor id nunc dictum, interdum gravida. Sed malesuada quis
                            tellus consequat posuere. Integer efficitur ut arcu ac placerat. Suspendisse
                            pharetra justo et ante consectetur, non scelerisque enim imperdiet. Suspendisse
                            aliquet congue facilisis. In varius neque at gravida posuere.
                        </p>
                        <p class="industy-details__top-text-2">
                            Ut gravida felis vitae mauris suscipit, at
                            facilisis mauris varius. Curabitur interdum malesuada vestibulum. Phasellus augue
                            sapien, euismod ut pharetra ut, tincidunt non metus. Aliquam erat volutpat. Integer
                            egestas maximus bibendum. Curabitur facilisis accumsan risus, vel euismod elit
                            accumsan sit amet. Suspendisse porttitor, ipsum vel sagittis pharetra, nisi purus
                            dignissim velit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="industy-details__the-best">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="industy-details__the-best-content">
                        <h3 class="industy-details__title">The Best Pickup Accuracy Rates in Business</h3>
                        <p class="industy-details__the-best-text">
                            There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form, by injected
                            humour.
                        </p>
                        <ul class="list-unstyled industy-details__the-best-points">
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="text">
                                    <p>Donec fermentum leo id elit commodo, vel sodales</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="fa fa-check"></span>
                                </div>
                                <div class="text">
                                    <p>Nullam a consequat diam, id pharetra massa</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="industy-details__the-best-img wow slideInRight" data-wow-delay="100ms"
                         data-wow-duration="2500ms">
                        <img src="~/images/backgrounds/used/industy-details-the-best-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="industy-details__commitment">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="industy-details__commitment-img wow slideInLeft" data-wow-delay="100ms"
                         data-wow-duration="2500ms">
                        <img  src="~/images/backgrounds/used/industy-details-commitment-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="industy-details__commitment-content">
                        <h3 class="industy-details__title">
                            Our Commitment to
                            Sustainability
                        </h3>
                        <p class="industy-details__commitment-text-1">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus
                            leo.
                        </p>
                        <p class="industy-details__commitment-text-2">
                            There are many variations of passages of
                            Lorem Ipsum available, but the majority have suffered alteration in some form, by
                            injected humour.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Industy Details End-->
<!--Wostin For Job Start-->
<section class="wostin-for-job">
    <div class="wostin-for-job-bg"
         style="background-image: url(/images/backgrounds/wostin-for-job-bg.jpg);"></div>
    <div class="container">
        <div class="wostin-for-job__top">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="wostin-for-bob__left">
                        <div class="section-title text-left">
                            <span class="section-title__tagline">We Deliver Without Hastle</span>
                            <h2 class="section-title__title">Wostin For Any Waste Job</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="wostin-for-bob__content">
                        <p class="wostin-for-bob__text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. quis nostrud
                            exercitation ullamco laboris.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wostin-for-job__bottom">
            <div class="row">
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                    <!--Wostin For Job Single-->
                    <div class="wostin-for-job__single">
                        <div class="wostin-for-job__top-icon">
                            <span class="icon-processing"></span>
                        </div>
                        <h3 class="wostin-for-job__title">We Offer Flexible <br> Services</h3>
                        <div class="wostin-for-job__hover">
                            <div class="wostin-for-job__hover-bg-box">
                                <div class="wostin-for-job__hover-bg"
                                     style="background-image: url(/images/backgrounds/used/wostin-for-job-hover-bg.jpg);">
                                </div>
                            </div>
                            <h3 class="wostin-for-job__hover-title">We Offer Flexible <br> Services</h3>
                            <p class="wostin-for-job__hover-text">
                                Phasellus nibh justo, tempus sceleris cursus,
                                consectetur in nulla. Donec metus libero.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                    <!--Wostin For Job Single-->
                    <div class="wostin-for-job__single">
                        <div class="wostin-for-job__top-icon">
                            <span class="icon-handshake"></span>
                        </div>
                        <h3 class="wostin-for-job__title">We Do Yearly Contract <br> With Customers</h3>
                        <div class="wostin-for-job__hover">
                            <div class="wostin-for-job__hover-bg-box">
                                <div class="wostin-for-job__hover-bg"
                                     style="background-image: url(/images/backgrounds/used/wostin-for-job-hover-bg.jpg);">
                                </div>
                            </div>
                            <h3 class="wostin-for-job__hover-title">
                                We Do Yearly Contract <br> With Customers
                            </h3>
                            <p class="wostin-for-job__hover-text">
                                Phasellus nibh justo, tempus sceleris cursus,
                                consectetur in nulla. Donec metus libero.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
                    <!--Wostin For Job Single-->
                    <div class="wostin-for-job__single">
                        <div class="wostin-for-job__top-icon">
                            <span class="icon-growth"></span>
                        </div>
                        <h3 class="wostin-for-job__title">We Offer Flexible <br> Services</h3>
                        <div class="wostin-for-job__hover">
                            <div class="wostin-for-job__hover-bg-box">
                                <div class="wostin-for-job__hover-bg"
                                     style="background-image: url(/images/backgrounds/used/wostin-for-job-hover-bg.jpg);">
                                </div>
                            </div>
                            <h3 class="wostin-for-job__hover-title">We Offer Flexible <br> Services</h3>
                            <p class="wostin-for-job__hover-text">
                                Phasellus nibh justo, tempus sceleris cursus,
                                consectetur in nulla. Donec metus libero.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Wostin For Job End-->
<!--Contact Two Start-->
<section class="contact-two">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline">Contact With Us</span>
            <h2 class="section-title__title">Still Have Questions?</h2>
        </div>
        <form action="~/inc/sendemail.php" class="contact-one__form contact-form-validated"
              novalidate="novalidate">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="contact-one__form-input-box">
                        <input type="text" placeholder="Your name" name="name">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="contact-one__form-input-box">
                        <input type="email" placeholder="Email address" name="email">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="contact-one__form-input-box">
                        <input type="text" placeholder="Phone number" name="phone">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="contact-one__form-input-box">
                        <input type="text" placeholder="Subject" name="subject">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="contact-one__form-input-box text-message-box">
                        <textarea name="message" placeholder="Write message"></textarea>
                    </div>
                    <div class="contact-one__btn-box">
                        <button type="submit" class="thm-btn contact-one__btn">Send a Message</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!--Contact Two End-->
<!--CTA One Start-->
<section class="cta-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="cta-one__inner">
                    <h2 class="cta-one__title">Get Tips on How to Manage Waste Effectively</h2>
                    <div class="cta-one__btn-box">
                        <a href="request-pickup.html" class="thm-btn cta-one__btn">Request a Pickup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA One End-->