body {
    .notification-container

{
    position: relative;
    display: inline-block;
}

#notification-bell {
    font-size: 24px; /* حجم أيقونة الجرس */
    color: #333; /* لون الأيقونة */
    text-decoration: none;
}

.notification-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red; /* لون النقطة الحمراء */
    border-radius: 50%;
    display: none; /* إخفاء النقطة افتراضيًا */
}



}

