@model RecyclableMaterials.ViewModels.ManageUserViewModel

@{
    ViewData["Title"] = "Manage";
}



<div style="margin-left:40px ;margin-right:40px" >

                        
<div class="request-a-pickup__tab-content" style="margin-bottom:30px;">

    <div class="row">
        <div class="col-xl-12">
            <div class="request-a-pickup-top__inner">
                    <h2 class="request-a-pickup-top__title">Manage User</h2>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["SuccessMessage"]
                        </div>
                    }
                </div>
            </div>
    </div>
    <div class="request-a-pickup__tab-content-form-box " >
            <form asp-action="Manage" asp-controller="Account" enctype="multipart/form-data" asp-validation-summary="All" class="row">
              
                <div class="col-xl-6">
                    <div class="request-a-pickup__tab-content-form-left">
                        <div class="request-a-pickup__tab-content-form">
                            <div class="row">
                                
                                <div class="col-xl-6">
                                    <div class="request-a-pickup__tab-content-input-box">

                                        <input asp-for="FirstName" class="form-control"  placeholder="First Name"  />
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="request-a-pickup__tab-content-input-box">
                                   
                                        <input asp-for="LastName" class="form-control"   placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="request-a-pickup__tab-content-input-box">
                                        <input asp-for="UserName" class="form-control" readonly  /> 
                                    </div>
                                </div>
                               
                                <div class="col-xl-12">
                                    <div class="request-a-pickup__tab-content-input-box">
                                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" type="text" />
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="request-a-pickup__tab-content-input-box">
                                        <input asp-for="DateOfBirth" class="form-control" type="date" style=" background-color: #f5f0e9; height: 63px; width: 100%; border: none; font-size: 14px; font-weight: 500; padding: 0 30px;  outline: none;" />
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="request-a-pickup__tab-content-form-right">
                        <div class="request-a-pickup__tab-content-form-two">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="request-a-pickup__tab-content-input-box request-a-pickup__tab-content-brief-box" style="text-align:center;">

                                        <img id="profilePicturePreview" src="@Url.Content( Model.ProfilePictureUrl)" alt="Profile Picture Preview" style="width: 300px; height: 270px; border: solid 9px #f5f0e9;" />
                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="request-a-pickup__tab-content-input-box">
                                        <input asp-for="ProfilePicture" class="form-control"  id="profilePictureInput"  style="  background-color: #f5f0e9; height: 63px; width: 100%; border: none; font-size: 14px; font-weight: 500; padding: 0 30px;  outline: none; padding-top: 20px;" />
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <div class="request-a-pickup__tab-content-btn-box">

                    <input type="submit" value="Save" class="thm-btn request-a-pickup__tab-content-btn" />

                    <a asp-action="Index" asp-controller="Home" class="thm-btn request-a-pickup__tab-content-btn">Back to Home</a>

                </div>
            </form>
    </div>               
                        
</div>
</div>



@section Scripts {
   
<script>
    document.getElementById('profilePictureInput').addEventListener('change', function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const previewImage = document.getElementById('profilePicturePreview');
                previewImage.src = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            
            document.getElementById('profilePicturePreview').src = '@Model.ProfilePictureUrl';
        }
    });

      



</script>
}