@model RecyclableMaterials.ViewModels.ManageUserViewModel

@{
    ViewData["Title"] = "Manage";
}


<div style="margin-left:40px ;margin-right:40px">


    <div class="request-a-pickup__tab-content">

        <div class="row">
            <div class="col-xl-12">
                <div class="request-a-pickup-top__inner">
                    <h2 class="request-a-pickup-top__title">Manage User</h2>

                </div>
            </div>
        </div>
        <div class="request-a-pickup__tab-content-form-box ">
            <div class="row">
                <div class="col-xl-6">
                    <div class="request-a-pickup__tab-content-form-left">
                        <form asp-action="Manage" asp-controller="Account" method="post" class="request-a-pickup__tab-content-form">
                            <div asp-validation-summary="All" class="text-danger" class="row">


                                <div class="col-xl-12">
                                    <div class="request-a-pickup__tab-content-input-box">

                                        <input asp-for="UserName" class="form-control" readonly  />

                                    </div>
                                </div>
                                <div class="col-xl-12">
                                    <div class="request-a-pickup__tab-content-input-box">

                                        <input asp-for="PhoneNumber" class="form-control" />

                                    </div>

                                </div>
                                <br />

                                <div class="request-a-pickup__tab-content-btn-box">

                                    <input type="submit" value="Save" class="thm-btn request-a-pickup__tab-content-btn" />

                                    <a asp-action="Index" asp-controller="Home" class="thm-btn request-a-pickup__tab-content-btn">Back to Home</a>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--Request A Pickup End-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
