@model IEnumerable<RecyclableMaterials.Models.Notifications>

<ul >
    @if (Model.Any())
    {
        @foreach (var notification in Model)
        {
            <li class="notification@(notification.IsRead?"read" :"unread")">
                <a href="@Url.Action("MarkAsRead","Notifications",new{id=notification.Id})">
                    <p>@notification.Message</p>
                    <small>@notification.DateCreated.ToString("g")</small>
                </a>
            </li>
        }
    }
    else
    {
        <p>No new notifications</p>
    }
</ul>