@model ProductModel





<section class="pricing">
    <div class="container">
        <div class="section-title text-center">
            <span class="section-title__tagline"></span>
            <h2 class="section-title__title">Offering Best Pricing</h2>
        </div>
        <form asp-action="Index" asp-controller="Product" enctype="multipart/form-data" method="post" class="request-a-pickup__tab-content-form">
           
        <div class="pricing__tab-box tabs-box">
            <ul class="tab-buttons clearfix list-unstyled">

                @*     <select asp-for="CategoryID" class="form-control selectpicker" asp-items="@(new SelectList(ViewBag.CatList,"id","Name"))">
                     <li data-tab="#bagster" class="tab-btn active-btn"><span>@ViewBag.ActionName</span></li>
                         
                    </select>
                     *@
                
                @*  <li data-tab="#containers" class="tab-btn"><span>Containers</span></li>
                <li data-tab="#dumpster" class="tab-btn"><span>Dumpster</span></li> *@
            </ul>
            <div class="tabs-content">
                <!--tab-->
                <div class="tab active-tab animated fadeInUp" id="bagster" style="display: block;">
                    <div class="tabs-content__inner">
                        <div class="pricing__tab-content-box">
                         @*  /  *@ <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/bagster-1-1.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">NAme product</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Quantity: <span>1,300 lbs</span></li>
                                            <li>Location: <span>4’ x 8’, ½” thick</span></li>
                                           
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>20.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                          @* / *@  <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/bagster-1-1.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">Compact Bags</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>2,300 lbs</span></li>
                                            <li>Thickness: <span>4’ x 8’, ½” thick</span></li>
                                            <li>Best Use: <span>Small materials</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>30.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                         @* /  *@  <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/bagster-1-1.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">Small but Mighty Bags</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>3,300 lbs</span></li>
                                            <li>Thickness: <span>4’ x 8’, ½” thick</span></li>
                                            <li>Best Use: <span>Heavy materials</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>40.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab active-tab" id="containers" style="display: none;">
                    <div class="tabs-content__inner">
                        <div class="pricing__tab-content-box">
                            <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/container-1-1.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">32 Gallon Trash Container</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>2 Trash bags</span></li>
                                            <li>Serves: <span>1-2 people</span></li>
                                            <li>Max Weight: <span>Approx 18kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>20.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/container-1-2.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">64 Gallon Trash Container</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>3 Trash bags</span></li>
                                            <li>Serves: <span>4-6 people</span></li>
                                            <li>Max Weight: <span>Approx 30kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>35.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/container-1-3.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">76 Gallon Trash Container</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>7 Trash bags</span></li>
                                            <li>Serves: <span>5-7 people</span></li>
                                            <li>Max Weight: <span>Approx 60kg</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>50.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab-->
                <div class="tab active-tab animated fadeInUp" id="dumpster" style="display: none;">
                    <div class="tabs-content__inner">
                        <div class="pricing__tab-content-box">
                            <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/dump-1-1.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">
                                            10 Yard Roll-Off Dumpster
                                        </h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>4 pickup loads</span></li>
                                            <li>Dimensions: <span>15'0"L x 8'0"W x 2'0"H</span></li>
                                            <li>Best Use: <span>Heavy materials</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>20.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/dump-1-2.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">12 Yard Roll-Off Dumpster</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>5 pickup loads</span></li>
                                            <li>Dimensions: <span>10' - 12'0"L x 8'0"W x 3'5"H</span></li>
                                            <li>Best Use: <span>Heavy materials</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>30.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing__tab-content-single">
                                <div class="pricing__tab-content-left">
                                    <div class="pricing__tab-content-img">
                                        <img src="~/images/icon/dump-1-3.png" alt="">
                                    </div>
                                    <div class="pricing__tab-content">
                                        <h3 class="pricing__tab-content-title">15 Yard Roll-Off Dumpster</h3>
                                        <ul class="list-unstyled pricing__tab-content-list">
                                            <li>Holds: <span>6 pickup loads</span></li>
                                            <li>Dimensions: <span>10'0"L x 7'11"W x 4'7"H</span></li>
                                            <li>Best Use: <span>Heavy materials</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing__tab-content-right">
                                    <div class="pricing__tab-content-order">
                                        <p class="pricing__tab-content-rate"><span>$</span>50.00</p>
                                        <a href="contact.html" class="thm-btn pricing__order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</section>