@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e0yrrk');
  src:  url('fonts/icomoon.eot?e0yrrk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e0yrrk') format('truetype'),
    url('fonts/icomoon.woff?e0yrrk') format('woff'),
    url('fonts/icomoon.svg?e0yrrk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e900";
}
.icon-phone-ringing:before {
  content: "\e901";
}
.icon-right-arrow:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-budget:before {
  content: "\e904";
}
.icon-garbage:before {
  content: "\e905";
}
.icon-garbage-truck:before {
  content: "\e906";
}
.icon-shop:before {
  content: "\e907";
}
.icon-stethoscope:before {
  content: "\e908";
}
.icon-grocery:before {
  content: "\e909";
}
.icon-recycling-symbol:before {
  content: "\e90a";
}
.icon-garbage-1:before {
  content: "\e90b";
}
.icon-dumpster:before {
  content: "\e90c";
}
.icon-portable-toilets:before {
  content: "\e90d";
}
.icon-triangular-arrows-sign-for-recycle:before {
  content: "\e90e";
}
.icon-quote:before {
  content: "\e90f";
}
.icon-contact:before {
  content: "\e910";
}
.icon-phone-call:before {
  content: "\e911";
}
.icon-message:before {
  content: "\e912";
}
.icon-magnifying-glass:before {
  content: "\e913";
}
.icon-placeholder:before {
  content: "\e914";
}
.icon-waste:before {
  content: "\e915";
}
.icon-affection:before {
  content: "\e916";
}
.icon-success:before {
  content: "\e917";
}
.icon-work-station:before {
  content: "\e918";
}
.icon-construction:before {
  content: "\e919";
}
.icon-education:before {
  content: "\e91a";
}
.icon-processing:before {
  content: "\e91b";
}
.icon-growth:before {
  content: "\e91c";
}
.icon-handshake:before {
  content: "\e91d";
}
.icon-plus-symbol:before {
  content: "\e91e";
}
.icon-clock:before {
  content: "\e91f";
}
