@using RecyclableMaterials.ViewModels
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Dashboard/Views/Shared/_DashbordLayout2.cshtml";

}


<div class="main-content">
    <div class="page-content">
        

        <h1>Role</h1>
            
        <partial name="_RoleForm" model="new RoleFormViewModel()"></partial>

        <div class="container-fluid">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
           
                            </tr>
                        }
                    </tbody>
                </table>
  
            </div>
        </div>
    </div>
</div>