<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  
	<title>Bootstrap Admin Coderz</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	
	<link href="/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- styles -->
	<link href="/dashboard/css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<!-- Logo -->
					<div class="logo">
						<h1><a href="index.html">Admin Dashboard</a></h1>
					</div>
				</div>
				<div class="col-md-5">
					<div class="row">
						<div class="col-lg-12">
							<div class="input-group form">
								<input type="text" class="form-control" placeholder="Search...">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="button">Search</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="navbar navbar-inverse" role="banner">
						<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
							<ul class="nav navbar-nav">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="profile.html">Profile</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav">
						<!-- Main menu -->
						<li class="current" >

							<a asp-action="Index" asp-controller="Home" asp-area="Dashboard">
								<i class="glyphicon glyphicon-home"></i>
								Home
							</a>
						</li>
						<li class="current">

							<a asp-action="Index" asp-controller="Category" asp-area="Dashboard">
								<i class="glyphicon glyphicon-stats"></i>
								Category
							</a>
						</li>
						<li class="current">

							<a asp-action="Index" asp-controller="Role" asp-area="">
								<i class="glyphicon glyphicon-pencil"></i>
								Role User
							</a>
						</li>
						<li class="current">

							<a asp-action="Index" asp-controller="Home" asp-area="">
								<i class="glyphicon glyphicon-home"></i>
								User Home
							</a>
						</li>
						<li class="current">

							<a asp-action="Index" asp-controller="User" asp-area="">
								<i class="glyphicon glyphicon-tasks"></i>
								Role Manage
							</a>
						</li>
						@* <li><a href="calendar.html"><i class="glyphicon glyphicon-calendar"></i> Calendar</a></li>
						
						<li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Statistics (Charts)</a></li>
						<li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Tables</a></li>
						<li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i> Buttons</a></li>
						<li><a href="editors.html"><i class="glyphicon glyphicon-pencil"></i> Editors</a></li>
						<li><a href="forms.html"><i class="glyphicon glyphicon-tasks"></i> Forms</a></li>
						<li class="submenu">
							<a href="#">
								<i class="glyphicon glyphicon-list"></i> Pages
								<span class="caret pull-right"></span>
							</a>
							<!-- Sub menu -->
							<ul>
								<li><a href="login.html">Login</a></li>
								<li><a href="signup.html">Signup</a></li>
							</ul>
						</li>  *@
					</ul>
				</div>
			</div>

			<div class="col-md-10">
				<main role="main" style="min-height:100vh">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">

			<div class="copy text-center">
				Copyright 2014 <a href='#'>Website</a>
			</div>

		</div>
	</footer>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/dashboard/bootstrap/js/bootstrap.min.js"></script>
	<script src="/dashboard/js/custom.js"></script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
